// colors
$blue-bright: hsla(218,78%,83%,1);
$blue-light: #8699BB;
$blue-mid: hsla(218,28%,43%,1);
$blue-dark: #3C4C6A;
$blue-ultradark: #2C3C5A;
$blue-ultradark2: hsla(218,28%,15%,1);
$white: #fff;
$grey-ultralight: #eee;

$charcoal: #3C4C6A;
$charcoal-dark: #444;
$header-height: 4rem;

.app-body {
    position        : relative;
    height          : 100vh;
    min-height      : 100vh;
    max-width       : 900px;
    margin          : 0 auto 1rem;
    background-color: rgba(250,250,250,.99);
    border-radius   : 0 0 4px 4px;
    box-shadow      : 0 0 4px 0 rgba(0,0,0,.5);
}
.header-top {
    position        : fixed;
    box-sizing      : border-box;
    z-index         : 100;
    top             : 0;
    left            : 0;
    height          : $header-height;
    width           : 100%;
    // max-width       : 900px;
    padding         : 0.5rem;
    background-color: $blue-ultradark;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    .header-top-left {
        float: left;
        width: 25%;
        img {
            height     : 3rem;
            width      : auto;
            margin-left: 1rem;
        }
    }
    .header-top-center {
        float     : left;
        width     : 50%;
        text-align: center;
    }
    .header-top-right {
        float     : left;
        width     : 25%;
        height    : 100%;
        text-align: right;
        color     : $white;
        .dropdown {
            button {
                border: none;
                i.fa.fa-bars {
                    margin-right: 0.5rem;
                    margin-top  : 0.25rem;
                    font-size   : 2.5rem;
                    color       : $white;
                }
            }
        }
        .dropdown-menu {
            background-color: $blue-dark;
            color           : $white;
        }
        div#login-buttons {
            padding-top: 0.8rem;
            margin-right: 1rem;
            position   : absolute;
            right      : 0;
            top        : 0;
            min-width  : 250px;
            font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: normal;
            input#login-username-or-email-label-and-input, input#login-username-or-email {
              background-color: white;
              @include placecolor($blue-mid);
            }
            #login-dropdown-list {
              @extend .z-depth-4;
            }
            .additional-link-container {
              a {
                color: $blue-bright;
                text-transform: uppercase;
                font-size: 1rem;
              }
            }
            a {
                text-decoration: none;
                font-size: 1.5rem;
                line-height: 2.6rem;
                text-transform: uppercase;
                color: $blue-bright;
            }
            .login-button {
                background-color: $blue-dark;
            }
        }
        a#login-sign-in-link,
        a#login-name-link {
            color          : $white;
            font-weight    : 100;
            text-decoration: none;
            margin-top     : 1rem;
            text-transform : uppercase;
        }
    }
}
.app-main {
    position   : relative;
    max-height: 100vh;
    overflow: scroll;
    top        : $header-height;
    padding-top: 2rem;
    // background: red;
}
.subheader-body {
    h1 {
        color: $blue-dark;
    }
}
.footer {
    position        : fixed;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    height          : 6rem;
    z-index         : 100;
    padding         : 1rem;
    max-height      : 8rem;
    line-height     : 2.5rem;
    text-align      : center;
    background-color: $blue-ultradark;
    color           : $white;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    a {
        text-decoration: none;
        color          : white;
    }
}
