
.img-responsive {
  height: auto;
  width: 100%;
}
.img-logo-inline {
  height: 2rem;
  width: 2rem;
}

.app-header {
  color: #eee;
  text-align: center;
}
.app-header > h1 {
  color: #59c;
}
.app-header > .row {
  text-align: left;
}
