.btn-link-post {
    width          : 100%;
    height         : 5rem;
    text-align     : left;
    text-transform : capitalize;
    text-decoration: none;
    color          : white;
    transition     : all 0.3s ease-in;
    // background-color: rgba($blue-bright, .5);
    border: none;
    @extend .z-depth-1;
    background-color: $blue-ultradark;
    span {
        color: $glow-aqua;

        transition     : all 0.7s ease-in;
    }
    &:hover {
        background-color: $glow-aqua;
        @extend .z-depth-5;
        border          : none;
        span {
            color: $blue-ultradark;
        }
    }
}
ul {
    margin    : 0;
    padding   : 0;
    background: white;
}
.delete {
    float      : right;
    font-weight: bold;
    background : none;
    font-size  : 1em;
    border     : none;
    position   : relative;
}
li {
    position     : relative;
    list-style   : none;
    padding      : 15px;
    border-bottom: #eee solid 1px;
}
li .subDate {
    margin-left: 1rem;
    text-align : right;
    color      : #aaa;
    font-size  : 0.8rem;
}
li .time-elapsed {
    font-style : italic;
    color      : $aqua-dull;
    margin-left: 1.5rem;
}
li.checked {
    color: #888;
}
li.checked .text {
    text-decoration: line-through;
    color          : #777;
}
li.private {
    background  : #eee;
    border-color: #ddd;
}
header .hide-completed {
    float: right;
}
.toggle-private {
    margin-left: 5px;
}
@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
    .search {
        width: 150px;
        clear: both;
    }
    .new-submission input {
        padding-bottom: 5px;
    }
}
// subheader
.view-select {
    padding         : 1rem;
    border-radius   : 5px;
    text-align      : center;
    background-color: $blue-dark;
    color           : white;
    .row {
        width : 100%;
        margin: 0.2rem auto;
    }
}
