// Original COLORS
$aqua: #69B5A3;
$blue-bright: hsla(218,78%,83%,1);
$blue-light: #8699BB;

$blue-mid: hsla(218,28%,43%,1);
$blue-dark: #3C4C6A;
$blue-ultradark: #2C3C5A;
$blue-ultradark2: hsla(218,28%,15%,1);
// colors

$red: #d9534f;

$rgba-primary-0: rgba( 51, 99, 94,1);	// Main Primary color */
$rgba-primary-1: rgba(111,146,142,1);
$rgba-primary-2: rgba( 75,120,115,1);
$rgba-primary-3: rgba( 31, 79, 74,1);
$rgba-primary-4: rgba( 15, 62, 57,1);


$rgba-secondary-1-0: rgba( 60, 76,106,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(122,134,156,1);
$rgba-secondary-1-2: rgba( 85,100,128,1);
$rgba-secondary-1-3: rgba( 38, 55, 85,1);
$rgba-secondary-1-4: rgba( 21, 37, 66,1);

$rgba-secondary-2-0: rgba(159,132, 82,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(234,215,178,1);
$rgba-secondary-2-2: rgba(192,167,121,1);
$rgba-secondary-2-3: rgba(128,100, 50,1);
$rgba-secondary-2-4: rgba(100, 73, 24,1);

$rgba-complement-0: rgba(159,115, 82,1);	// Main Complement color */
$rgba-complement-1: rgba(234,202,178,1);
$rgba-complement-2: rgba(192,151,121,1);
$rgba-complement-3: rgba(128, 83, 50,1);
$rgba-complement-4: rgba(100, 56, 24,1);

// $blue-light: $rgba-secondary-1-1;
// $blue-bright: $rgba-secondary-1-2;
// $blue-mid: $rgba-primary-2;
// $blue-dark: $rgba-primary-1;
// $blue-ultradark: $rgba-primary-0;



$white: #fff;
$grey-ultralight: #eee;
$charcoal: #3C4C6A;
$charcoal-dark: #444;

$green: hsla(108,50%,42%,1);

$font_primary: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
